In [104]:
import pandas as pd
import numpy

In [105]:
# Import data
filepath= ("test/SAscan.csv")

In [106]:
# Read in data
dataframe = pd.read_csv("SAscan.csv", names=["freq"])

# Show first 5 rows as test
dataframe.head()

                                  freq
0    407000000.000;            -99.443
1    407695502.000;           -109.229
2    408391003.000;           -110.956
3    409086505.000;           -109.229
4    409782007.000;           -107.502

In [107]:
# Split data using ; as delimiter
dataframe=dataframe["freq"].str.split(";", expand=True)

# Name headers
dataframe.rename(columns={0:"freq", 1: "level"}, inplace=True)

# Show dataframe
dataframe.head()

              freq                level
0    407000000.000              -99.443
1    407695502.000             -109.229
2    408391003.000             -110.956
3    409086505.000             -109.229
4    409782007.000             -107.502

In [108]:
# Convert freq column to double/float variable type
dataframe["freq"] = pd.to_numeric(dataframe["freq"])
dataframe["level"] = pd.to_numeric(dataframe["level"])

dataframe=dataframe.astype(float)

#Divide Freq column
dataframe["freq"]=dataframe["freq"]/1000000

# Show dataframe
dataframe.head()

         freq    level
0  407.000000  -99.443
1  407.695502 -109.229
2  408.391003 -110.956
3  409.086505 -109.229
4  409.782007 -107.502

In [109]:
# Round Freq and Level columns to respective decimal places
roundfreq= dataframe['freq'] = dataframe['freq'].round(3)
roundlevel= dataframe['level'] = dataframe['level'].round(2)

# concatenate dataframes
Updated_SAscan = pd.concat([roundfreq, roundlevel], axis= 1)
Updated_SAscan.head()

      freq   level
0  407.000  -99.44
1  407.696 -109.23
2  408.391 -110.96
3  409.087 -109.23
4  409.782 -107.50

In [110]:
Updated_SAscan.to_csv('./newfile/Updated_SAscan.csv', index=False)