In [9]:
import pandas as pd
import numpy

In [17]:
# Import data
filepath= ("test/SAscan.csv")

In [24]:
# Read in data
dataframe = pd.read_csv("SAscan.csv", names=["freq"])

# Show first 5 rows as test
dataframe.head()

                                  freq
0    407000000.000;            -99.443
1    407695502.000;           -109.229
2    408391003.000;           -110.956
3    409086505.000;           -109.229
4    409782007.000;           -107.502

In [30]:
# Split data using ; as delimiter
dataframe["freq"].str.split(";")

0      [  407000000.000]
1      [  407695502.000]
2      [  408391003.000]
3      [  409086505.000]
4      [  409782007.000]
             ...
285    [  605217993.000]
286    [  605913495.000]
287    [  606608997.000]
288    [  607304498.000]
289    [  608000000.000]
Name: freq, Length: 290, dtype: object

In [31]:
# Show dataframe
dataframe.head()

              freq                level
0    407000000.000              -99.443
1    407695502.000             -109.229
2    408391003.000             -110.956
3    409086505.000             -109.229
4    409782007.000             -107.502

In [ ]:
dataframe["freq"]=dataframe["freq"]/10000000

In [ ]:
dataframe.head()